<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <h1>注册页面</h1>
    <div>
        <input type="text" placeholder="用户名" v-model="user.username">
        <input type="text" placeholder="密码" v-model="user.password">
        <input type="text" placeholder="昵称" v-model="user.nickname">
        <input type="button" value="提交" @click="reg()">
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script>
        new Vue({
            el: "body > div",
            data: {
                user: {
                    username: "",
                    password: "",
                    nickname: ""
                }
            },
            methods: {
                reg() {
                    let data = this.user;
                    axios.post("/reg", data).then(function (response) {
                        if (response.data === 2) {
                            alert("用户名已存在!");
                        } else {
                            alert("注册成功!");
                            location.href = "/";
                        }
                    });
                }
            }
        });
    </script>
</body>
</html>