<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <div>
        {{ info }}
        <!--v-model="变量" 让控件和变量进行双向绑定,
        双向绑定只能应用在控件上面,用来获取控件的值-->
        <input type="text" v-model="info">
        <hr>
        用户名: <input type="text" placeholder="请输入用户名" v-model="user.username"><br>
        密码: <input type="text" placeholder="请输入密码" v-model="user.password"><br>
    </div>

    <script src="js/vue.min.js"></script>
    <script>
        let v = new Vue({
            el: "body > div",
            data: {
                info: "双向绑定测试",
                user: {
                    username: "",
                    password: ""
                }
            }
        });
    </script>
</body>
</html>