<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.weibo.mapper.CommentMapper">
    <insert id="insert">
        INSERT INTO weibo.comment VALUES(NULL, #{w_id}, #{nickname}, #{content}, #{created})
    </insert>

    <select id="selectByW_id" resultType="cn.tedu.weibo.pojo.vo.CommentVo">
        SELECT weibo.comment.nickname nickname, weibo.comment.content content, weibo.comment.created created FROM weibo.comment WHERE w_id=#{w_id}
    </select>
</mapper>