<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微博</title>
</head>
<body>
    <div>
        <h1>微博首页</h1>
        <div v-if="isLogin">
            <h3>欢迎{{ user.nickname }}回来</h3>
            <a href="/send.html">发微博</a>
            <a href="javascript:void(0);" @click="logout()">退出登录</a>
        </div>
        <div v-else>
            <a href="/reg.html">注册</a>
            <a href="/login.html">登录</a>
        </div>
        <hr>
        <div v-for="weibo in arr">
            {{ weibo.nickname }}说：<a :href="'/detail.html?id=' + weibo.id">{{ weibo.content }}</a>
            <span style="font-size: 12px;">{{ weibo.created }}</span>
        </div>
    </div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    new Vue({
        el: "body > div",
        data: {
            user: {},
            isLogin: false,
            arr: []
        },
        methods: {
            logout() {
                let _this = this;
                axios.get("/logout").then(function () {
                    location.href = "/";
                    _this.isLogin = false;
                });
            }
        },
        created() {
            let _this = this;
            axios.get("/weibo/select").then(function (response) {
                console.log(response.data);
                _this.arr = response.data;
            });

            axios.get("/currentUser").then(function (response) {
                _this.user = response.data;
                _this.isLogin = _this.user !== "";
            });
        }
    });
</script>
</html>