<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.coolshark.mapper.CategoryMapper">
    <select id="select" resultType="cn.tedu.coolshark.pojo.entity.Category">
        SELECT id, name FROM category;
    </select>

    <delete id="delete">
        DELETE FROM category WHERE id=#{id}
    </delete>

    <update id="update">
        UPDATE category SET name=#{name} WHERE id=#{id}
    </update>

    <insert id="insert">
        INSERT INTO category VALUES(NULL, #{name})
    </insert>
</mapper>